*, *:before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    background: #181818;
}

body {
    margin: 0;
    padding: 0;
    color: rgb(211, 201, 188);
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
  }

button {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
  }

  /* MAIN */

.main {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 75vh;
      min-height: 500px;
      padding: 10px;
      margin-top: 50px;
  }

.calculator-grid {
      width: 400px;
      border-radius: 15px;
      border: 1px rgba(107, 97, 84) solid;
      padding: 20px;
      background-color: rgba(59, 62, 63);
  }

.output {
    padding: 10px 20px;
    border: 1px rgb(125, 114, 97) solid;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: rgba(26, 28, 29);
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
}

.previous-operand {
    min-height: 32px;
    font-size: 20px;
  }
  
.current-operand {
    min-height: 64px;
    font-size: 40px;
  }

.buttons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

/* spreads the CLEAR and DELETE buttons */
.span-2 {
    grid-column: span 2;
  }

.btn {
    padding: 20px;
    border-radius: 5px;
    border: 1px rgb(125, 114, 97) solid;
    background-color: rgba(26, 28, 29);
}

.btn:hover {
    background-color: rgba(206, 255, 91, 0);
  }

.btn:active {
    background-color: rgba(204, 204, 204, 0);
  }

 .btn-red {
    background-color: rgb(76, 0, 5);
  }

.btn-red:hover {
    background-color:rgba(173, 28, 35, 0.705);
  }

.btn-red:active {
    background-color: rgb(81, 13, 16);
  }

.btn-blue {
    background-color: rgba(15, 19, 78);;
  }

.btn-blue:hover {
    background-color: rgba(28, 18, 141, 0.808);
  }

.btn-blue:active {
    background-color: rgb(15, 9, 78);
  }


  /* Disables input spinners in calc screen */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}