*, *:before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family:'Open Sans',Helvetica,Arial,sans-serif;
    font-weight: 300;
    color: #fff;
}

html {
    box-sizing: border-box;
    background: #181818;
}

body {
    margin: 0;
    padding: 0;
    /* color: rgb(211, 201, 188); */
    /* font-family: 'Roboto', sans-serif; */
    line-height: 1.6;
  }

button {
    border: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
  }

  /* MAIN */

.main {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 75vh;
      min-height: 500px;
      padding: 10px;
      margin-top: 50px;
  }

.calculator {
      width: 300px;
      padding: 5px;
      background:linear-gradient(#5C258D, #4389A2);
  }

.screen {
    padding: 10px 20px;
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
}

.screen-last {
    min-height: 32px;
    font-size: 20px;
  }
  
.screen-current {
    min-height: 64px;
    font-size: 40px;
  }

.buttons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0px;
}

/* spreads the CLEAR and DELETE buttons */
.span-2 {
    grid-column: span 2;
  }

.btn {
    padding: 20px;
    background-color: inherit;
    border:1px solid rgba(255,255,255,0.3);
}

.btn:hover {
    background:rgba(255,255,255,0.3);
  }

 .btn-red {
    background-color: inherit;
  }

.btn-red:hover {
    background-color:rgba(173, 28, 35, 0.3);
  }

.btn-blue {
    background-color: inherit;
  }

.btn-blue:hover {
    background-color: rgba(53, 43, 167, 0.3);
  }

  /* Disables input spinners in calc screen */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}